@media print {
    @page { size: A4 portrait; } 

    body{
        background-color: white;
        padding: 0mm !important;  
        margin: 0mm !important;    /* これが無いと余分な余白が入る */
    }
    
    div.container {
        margin-top: 0 !important;
        padding: 0;
    }
    div.print_pages{
        width: 172mm;
        height: 251mm;
        margin: auto;
        border: none;
        page-break-after: always;
    }
    div.print_pages_w {
        width: 251mm;
        height: 172mm;
        margin: auto;
        border: none;
        page-break-after: always;
    }
    .print_pages:last-child{
        page-break-after: auto;
    }
}

body:has(#sougeibus),
body:has(#ninteisho),
body:has(#goukakusho),
body:has(#goukakulist) {
    font-size: 12px;
    background-color: grey !important;
}

.print_pages {
    width: 172mm;
    height: 251mm;
    margin: 30px auto;
    border: dotted 1px #dcdcdc;
    background-color: white;
}

.print_pages_w {
    width: 251mm;
    height: 172mm;
    margin: 30px auto;
    border: dotted 1px #dcdcdc;
    background-color: white;
}