
body:has(#goukakulist) {
    font-size: 14px;
}

#goukakulist .dropdown {
    position: fixed;
    z-index: 11;
    top: 3px;
    left: 15px;
}

#goukakulist .print_pages {
    width: 210mm ;
    height: 297mm;
    margin: 30px auto;
    padding: 7.8mm 15mm;
    border: dotted 1px #dcdcdc;
    background-color: white;
    position: relative;
}

#goukakulist .container {
    margin-top: 50px;
    max-width: 210mm !important;
    min-width: 210mm !important;
}


#goukakulist p.title {
    font-size: 120%;
    font-weight: bold;
    padding: 8px 15px;
    margin: 5px;
    background-color: silver;
    color: black;
}

#goukakulist .tables {}

#goukakulist .table-header {
    font-size: 110%;
    display: grid;
    grid-template-columns: 10% 20% 17% 35% 9% 9%;
    font-weight: bold;
}
#goukakulist .table-body .table-row{
    display: grid;
    grid-template-columns: 10% 20% 17% 35% 9% 9%;
    border-bottom: 1px solid #dcdcdc;
    font-size: 100%;
}

#goukakulist .table-body .table-row > p{
    text-align: center;
}

#goukakulist .table-body .table-row > div{
    display: block;
    padding: 0 7px;
}

#goukakulist .t1 {
    padding: 2px;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}
#goukakulist .t2 {
    padding: 2px 7px;
    display: table-cell;
    vertical-align: middle;
}
#goukakulist .t3 {
    padding: 2px;
    display: table-cell;
    vertical-align: middle;
}
#goukakulist .t4 {
    padding: 2px;
    display: table-cell;
    vertical-align: middle;
}


#goukakulist .table-body .courseName {
    background-color: silver;
    border: 1px solid #000;
    padding: 0;
    margin-bottom: 8px;
    height: 4mm;
}

#goukakulist .table-body .table-row.courseName .t4 span {
    background-color: white;
    font-size: 110%;
    font-weight: 600;
    display: inline-block;
    width: 15mm;
    outline: 3px solid;
    box-shadow: 5px 4px 0px 0px #000;
    height: 5mm;
    margin-top: -1mm;
}

#goukakulist .t5 {
    padding: 2px;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
}
#goukakulist .t6 {
    padding: 2px;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
}


#goukakulist tr.no-border {
    border-width: 0;
}
#goukakulist .no-border td {
    border: none;
}

#goukakulist .print_pages > .date{
    position: absolute;
    top: 95.5%;
    right: 84%;
}

#goukakulist .print_pages > .pageNumber{
    position: absolute;
    top: 95.5%;
    right: 8%;
}

/* @page { size: A4 !important; } */
@media print {

    body:has(#goukakulist) {
        width: 210mm ;
        margin: 0px !important;
        padding: 0px !important;
        background-color: white !important;
    }

    #goukakulist .container {
        margin: 0px !important;
        padding: 0px !important;
        max-width: 210mm !important;
        min-width: 210mm !important;
    }

    #goukakulist .print_pages {
        height: 295mm;
        margin: 0px !important;
        padding: 7.8mm 15mm !important;
        border: none;
        background-color: white;
        position: relative;
        page-break-after: always;
    } 

    #goukakulist .print_pages:last-child{
        page-break-after: auto;
    }

    #goukakulist .dropdown {
        display: none;
    }
}