#goukakusho .container {
    margin-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#goukakusho .print_pages {
    width: 172mm;
    height: 251mm;
    margin: 30px auto;
    border: dotted 1px #dcdcdc;
    background-color: white;
    position: relative;
}


#goukakusho .print_pages #rank {
    font-family: "ＭＳ ゴシック";
    font-weight: bold;
    position: absolute;
    font-size: 10mm;
    top: 58mm;
    right: 95mm;
}

#goukakusho .print_pages #number {
    font-family: "HGP明朝E";
    font-weight: normal;
    position: absolute;
    font-size: 4mm;
    top: 70mm;
    right: 100mm;
}

#goukakusho .print_pages #weekName {
    font-family: "ＭＳ ゴシック";
    font-weight: normal;
    position: absolute;
    font-size: 4mm;
    top: 70mm;
    right: 86mm;
}

#goukakusho .print_pages #name {
    font-family: "HG正楷書体-PRO";
    font-weight: 500;
    position: absolute;
    font-size: 15mm;
    top: 77mm;
    right: 43mm;
    text-shadow: 0.5px 0.5px 0.5px;
}

#goukakusho .print_pages #date {
    font-family: "ＭＳ ゴシック";
    font-weight: 500;
    position: absolute;
    font-size: 4.5mm;
    top: 160mm;
    right: 26mm;
}

@media print {
    @page { size: A4 } 

    body:has(#goukakusho ) {
        font-size: 12px;
        background-color: white !important;
    }
    
    #goukakusho .container {
        margin-top: 0;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    #goukakusho .print_pages{
        width: 172mm;
        height: 251mm;
        margin: auto;
        border: none;
        page-break-after: always;
    }
    #goukakusho .print_pages:last-child{
        page-break-after: auto;
    }
}
    