body:has(#sougeibus) {
    font-size: 12px;
}

#sougeibus .print_pages {
    width: 172mm;
    height: 251mm;
    margin: 30px auto;
    border: dotted 1px #dcdcdc;
    background-color: white;
    position: relative;
}

#sougeibus .container {
    margin-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#sougeibus .table>:not(caption)>*>* {
    padding: 0.2rem 0.2rem;
    border: #000 solid 1px;
}

#sougeibus h3.title {
    text-align: center;
    border: #000 1px solid;
    padding: 5px;
    background-color: silver;
    color: white;
}

#sougeibus table {
    table-layout: fixed;
    border-collapse: collapse;
}

#sougeibus table th {
    background-color: silver;
    font-weight: 600;
}

#sougeibus table tr .t1 {
    width: 30mm;
    padding: 2px;
}
#sougeibus table tr .t2 {
    width: 10mm;
    padding: 2px;
    text-align: center;
}
#sougeibus table tr .t3 {
    width: 15mm;
    padding: 2px;
}
#sougeibus table tr .t4 {
    width: 20mm;
    padding: 2px;
}
#sougeibus table tr .t5 {
    width: 20mm;
    padding: 2px;
}
#sougeibus table tr .t6 {
    width: 8mm;
    padding: 2px;
    text-align: right;
}
#sougeibus table tr .t7 {
    width: 8mm;
    padding: 2px;
    text-align: right;
}
#sougeibus table tr .t8 {
    width: 8mm;
    padding: 2px;
    text-align: right;
}
#sougeibus table tr .t9 {
    width: 20mm;
    padding: 2px;
}

#sougeibus tr.no-border {
    border-width: 0;
}
#sougeibus .no-border td {
    border: none;
}

#sougeibus .print_pages{
    padding: 5mm;
}

 