
body:has(#syuseki) {
    font-size: 10px;
}

#syuseki .dropdown {
    position: fixed;
    z-index: 11;
    top: 3px;
    left: 15px;
}

#syuseki .container {
    margin-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#syuseki .print_pages_w {
    padding: 25px;
    position: relative;
}

#syuseki p.title {
    font-size: 11px;
    font-weight: bold;
    padding: 8px 15px;
    margin: 5px;
    background-color: silver;
    color: black;
}

#syuseki .tables {}

#syuseki .table-header {
    font-size: 10px;
    display: grid;
    grid-template-columns: 18mm 35mm 23mm 38mm 12mm 12mm;
    font-weight: bold;
}
#syuseki .table-body .table-row{
    display: grid;
    grid-template-columns: 18mm 35mm 23mm 38mm 12mm 12mm;
    border-bottom: 1px solid #dcdcdc;
}

#syuseki .table-body .table-row > p{
    text-align: center;
}

#syuseki .table-body .table-row > div{
    display: block;
    padding: 0 7px;
}

#syuseki .t1 {
    width: 15mm;
    padding: 2px;
    display: table-cell;
    vertical-align: middle;
}
#syuseki .t2 {
    width: 35mm;
    padding: 2px;
    display: table-cell;
    vertical-align: middle;
}
#syuseki .t3 {
    width: 21mm;
    padding: 2px;
    display: table-cell;
    vertical-align: middle;
}
#syuseki .t4 {
    width: 38mm;
    padding: 2px;
    display: table-cell;
    vertical-align: middle;
}
#syuseki .t5 {
    width: 38mm;
    padding: 2px;
    display: table-cell;
    vertical-align: middle;
}
#syuseki .t6 {
    width: 38mm;
    padding: 2px;
    display: table-cell;
    vertical-align: middle;
}
#syuseki .t7 {
    width: 38mm;
    padding: 2px;
    display: table-cell;
    vertical-align: middle;
}
#syuseki .t8 {
    width: 38mm;
    padding: 2px;
    display: table-cell;
    vertical-align: middle;
}
#syuseki .t9 {
    width: 38mm;
    padding: 2px;
    display: table-cell;
    vertical-align: middle;
}
#syuseki .t10 {
    width: 38mm;
    padding: 2px;
    display: table-cell;
    vertical-align: middle;
}
#syuseki .t11 {
    width: 38mm;
    padding: 2px;
    display: table-cell;
    vertical-align: middle;
}
#syuseki .t12 {
    width: 38mm;
    padding: 2px;
    display: table-cell;
    vertical-align: middle;
}
#syuseki .t13 {
    width: 38mm;
    padding: 2px;
    display: table-cell;
    vertical-align: middle;
}
#syuseki .t14 {
    width: 38mm;
    padding: 2px;
    display: table-cell;
    vertical-align: middle;
}

#syuseki .table-body .courseName {
    background-color: silver;
    border: 1px solid #000;
    padding: 0;
    margin-bottom: 6px;
}

#syuseki .table-body .table-row.courseName .t4 span {
    background-color: white;
    font-size: 10px;
    font-weight: 600;
    display: inline-block;
    width: 15mm;
    outline: 3px solid;
    box-shadow: 5px 4px 0px 0px #000;

}

table tr .t5 {
    width: 12mm;
    padding: 2px;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
}
#syuseki .t6 {
    width: 12mm;
    padding: 2px;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
}


#syuseki tr.no-border {
    border-width: 0;
}
#syuseki .no-border td {
    border: none;
}

#syuseki .print_pages{
    padding: 7.8mm 15mm;
    position: relative;
}

#syuseki .print_pages > .date{
    position: absolute;
    bottom: 8mm;
    right: 140mm;
}

#syuseki .print_pages > .pageNumber{
    position: absolute;
    bottom: 8mm;
    right: 20mm;
}

@media print {
    @page { size: A4 landscape; } 

    #syuseki .dropdown {
        display: none;
    }
}