
body:has(#syuseki) {
    font-size: 8.5px;
}

#syuseki .dropdown {
    position: fixed;
    z-index: 11;
    top: 3px;
    left: 15px;
}

#syuseki .container {
    margin-top: 50px;
    padding: 0;
    font-family: 'ＭＳ 明朝';
    max-width: 295mm;
    min-width: 295mm;
    width: 295mm;
}

#syuseki .print_pages_w {
    padding: 25px;
    position: relative;
    width: 100%;
    height: 210mm;
}
#syuseki .page_header{
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
}
#syuseki .page_header div{
    margin-bottom: 3px;
    display: inline-block;
}

#syuseki .page_header div.weekname {
    width: 10%;
    border: solid 1px #0d0d0d;
    box-shadow: 4px 5px 0px 0px rgba(0,0,0,1);
    -webkit-box-shadow: 4px 5px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 4px 5px 0px 0px rgba(0,0,0,1);
}

#syuseki .page_header div.coachname {
    width: 17%;
    margin-left: 2%;
    border-right: solid 1px #0d0d0d;
    border-bottom: solid 1px #0d0d0d;
    box-shadow: 4px 5px 0px 0px rgba(0,0,0,1);
    -webkit-box-shadow: 4px 5px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 4px 5px 0px 0px rgba(0,0,0,1);
}

#syuseki .page_header div.title {
    font-size: 18px;
    width: 42%;
    padding: 2px 4%;
    margin-left: 6%;
    background-color: #bbb;
    border: 1px solid #0d0d0d;
    color: white;
}

#syuseki .page_header div.title div {
    display: flex;
    justify-content: space-between;
    font-family: 'ＭＳ ゴシック';
}

#syuseki .page_header div.title div .title-month {
    color: black;
}

#syuseki .tables {}

#syuseki .table-header {
    font-size: 9px;
    display: grid;
    margin: 0 5px;
    grid-template-columns: 4% 10% 15% 4% 8% 5% 5% 4% 4% 4% 4% 4% 4% 25%;
    font-weight: bold;
}
#syuseki .table-body .table-row{
    display: grid;
    margin: 0 5px;
    grid-template-columns: 4% 10% 15% 4% 8% 5% 5% 4% 4% 4% 4% 4% 4% 25%;
    border-bottom: 1px solid #dcdcdc;
}

#syuseki .table-body .table-row > p{
    text-align: center;
}

#syuseki .table-header > div,
#syuseki .table-body .table-row > div{
    display: block;
    border-top: solid 1px #0d0d0d;
    border-right: solid 1px #0d0d0d;
    padding-left: 3%;
}

#syuseki .table-header > div:first-of-type,
#syuseki .table-body .table-row > div:first-of-type{
    border-left: solid 1px #0d0d0d;
}

#syuseki .table-body .table-row:first-of-type > div{
    border-top: solid 3px #0d0d0d;
}

#syuseki .table-body .table-row:last-of-type > div{
    border-bottom: solid 1px #0d0d0d;
}

#syuseki .t1 {
    display: table-cell;
    vertical-align: middle;
}
#syuseki .t2 {
    display: table-cell;
    vertical-align: middle;
}
#syuseki .t3 {
    display: table-cell;
    vertical-align: middle;
}
#syuseki .t4 {
    display: table-cell;
    vertical-align: middle;
}
#syuseki .t5 {
    display: table-cell;
    vertical-align: middle;
}
#syuseki .t6 {
    display: table-cell;
    vertical-align: middle;
}
#syuseki .t7 {
    display: table-cell;
    vertical-align: middle;
}
#syuseki .t8 {
    display: table-cell;
    vertical-align: middle;
}
#syuseki .t9 {
    display: table-cell;
    vertical-align: middle;
}
#syuseki .t10 {
    display: table-cell;
    vertical-align: middle;
}
#syuseki .t11 {
    display: table-cell;
    vertical-align: middle;
}
#syuseki .t12 {
    display: table-cell;
    vertical-align: middle;
}
#syuseki .t13 {
    display: table-cell;
    vertical-align: middle;
}
#syuseki .t14 {
    display: table-cell;
    vertical-align: middle;
}


#syuseki tr.no-border {
    border-width: 0;
}
#syuseki .no-border td {
    border: none;
}

#syuseki .print_pages_w{
    position: relative;
}

#syuseki .print_pages_w > .date{
    position: absolute;
    bottom: 5mm;
    right: 225mm;
}

#syuseki .print_pages_w > .pageNumber{
    position: absolute;
    bottom: 5mm;
    right: 20mm;
}

@page { size: A4 landscape !important; } 
@media print {
    body:has(#syuseki) {
        width: 297mm ;
        margin: 0px !important;
        padding: 0px !important;
        background-color: white !important;
    }

    #syuseki .container {
        margin: 0px !important;
        padding: 0px !important;
        max-width: 297mm !important;
        min-width: 297mm !important;
    }

    #syuseki .print_pages_w {
        height: 208mm;
        margin: 0px !important;
        padding: 25px !important;
        border: none;
        background-color: white;
        position: relative;
        page-break-after: always;
    } 

    #syuseki .print_pages_w:last-child{
        page-break-after: auto;
    }

    #syuseki .dropdown {
        display: none;
    }
}